.folder-list-container {
  margin-top: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.percent-bar-container {
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
  padding-left: 0;
  border-radius: 2rem;
  width: 80%;
  background-color: white;
}

.percent-bar {
  border-radius: 2rem;
  background-color: #c2e7ff;
  text-align: center;
  font-size: 0.8rem;
  padding: 2px;
}

.icon {
  font-size: 1.2rem;
  align-self: center;
  cursor: pointer;
  color: rgb(93, 93, 93);
}

.folder-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
  width: 100%;
  margin: 0;
  padding: 3px 0 3px 4rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: rgb(52, 52, 52);
  height: 10%;
}

.folder-list-item:hover {
  background-color: rgb(228, 228, 228);
}

.folder-list-item.checked {
  background-color: #d3e3fd;
  font-weight: bold;
}

.compose-btn {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #c2e7ff;
  border: none;
  padding: 0.6rem 0.8rem 0.6rem 0.6rem;
  gap: 5px;
  border-radius: 0.8rem;
  cursor: pointer;
}

.compose-btn:hover {
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

.compose-btn .icon {
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  position: relative;
  right: 5px;
}
