.mail-filter {
  display: grid;
  justify-content: flex-start;
  margin-left: 12.5rem;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b4bbc5;
  width: min-content;
  margin: 0.5rem auto;
  padding: 0 0.5rem;
  border-radius: 10px;
}

.filter-container .material-symbols-outlined {
  color: white;
}

.input-container {
  display: inline-block;
}

.search-input {
  background-color: #b4bbc5;
  height: 2.2rem;
  border: none;
  margin: 0.5rem;
  width: 30rem;
  border-radius: 5px;
  padding-left: 15px;
}

.search-input:focus-visible {
  outline: none;
}

::placeholder {
  color: white;
}
/* .search-input:focus {
  background-color: #eaf1fb;
} */
