.folder-list-container {
  margin-top: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  padding-right: 20px;
}

.percent-bar-container {
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
  padding-left: 0;
  border-radius: 2rem;
  width: 80%;
  background-color: whitesmoke;
}

.percent-bar {
  border-radius: 2rem;
  background-color: rgb(170, 170, 170);
  text-align: center;
  font-size: 0.8rem;
  padding: 2px;
}

.icon {
  font-size: 1.2rem;
  align-self: center;
  cursor: pointer;
  color: rgb(93, 93, 93);
}

.folder-list-item .material-symbols-outlined {
  margin-right: 15px;
}

.folder-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
  width: 100%;
  margin: 0;
  padding: 0px 0 0px 1.2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: rgb(52, 52, 52);
}

.folder-list-item:hover {
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
}

.folder-list-item.checked {
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
  font-weight: bold;
}

.compose-btn {
  margin-bottom: 1rem;
  margin-right: 3.5rem;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border: none;
  padding: 1rem 1.2rem 1rem 1.2rem;
  gap: 5px;
  border-radius: 0.8rem;
  cursor: pointer;
}

.compose-btn .material-symbols-outlined {
  margin-right: 10px;
}

.compose-btn:hover {
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 560px) {
  .folder-list-container {
    padding-right: 10px;
  }

  .folder-list-item {
    padding-left: 1rem;
  }
}
