input {
  all: unset;
}

.input-wrapper {
  margin-block-start: 2em;
  margin-bottom: 10px;
  position: relative;
}

.input-field {
  position: relative;
  padding: 10px 10px 10px 1em;
  border: 0px;
}

.input-field:focus {
  border: 0px;
}

.input-field::placeholder {
  color: black;
  font-family: 'Tahoma';
}

.inputs-container {
  border-radius: .8em;
  border: 1px solid lightgray;
  font-family: Tahoma;
  margin: 0 auto;
  background-color: white;
}

.inputs-container {
  width: 50%;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  background-color: inherit;
  border: none;
  resize: none;
  outline: none;
}

#txt.input-field {
  width: 92%;
}

#title.input-field {
  width: 92%;
}