.mail-details-main-container {
  display: flex;
  height: 90%;
  background-color: #f2f7fd;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.mail-details-container {
  background-color: rgb(226, 217, 217);
  padding: 1rem 2rem;
  border-radius: 10px;
  height: calc(100vh - 85px);
  width: 60%;
}

.details-email,
.details-date {
  color: rgb(170, 170, 170);
  font-size: 0.8rem;
}

.mails-details-body {
  padding-top: 30px;
}
